.header__logo {
  color: white;
  position: center;
  left: 0;
  top: 0;
  width: 70px;
  cursor: pointer;
  margin-bottom: 0px;
  display: flex;
}

.header__root {
  position: relative;
  object-fit: contain;
}

.header__header {
  color: white;
  font-size: 12px;
}

@media only screen and (max-width: 990px) {
  /* For mobile phones: */
  .header__root {
    width: 100%;
    display: flex;
  }
  .header__header {
    width: 10px;
    padding-right: 0%;
  }
  .header__logo {
    width: 70px;
    margin-left: 0;
  }
}
