.header__logo {
  color: white;
  position: center;
  left: 0;
  top: 0;
  width: 70px;
  cursor: pointer;
  margin-bottom: 0px;
  display: flex;
}

.header__user {
  margin-left: 33%;
  margin-right: auto;
  display: block;
}

.header__header {
  color: white;
  font-size: 12px;
}
